<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=eEYW4xpOY5">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=eEYW4xpOY5">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=eEYW4xpOY5">
	<link rel="manifest" href="/images/site.webmanifest?v=eEYW4xpOY5">
	<link rel="shortcut icon" href="/images/favicon.ico?v=eEYW4xpOY5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- end favicon -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9C4G0C1EQ3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-9C4G0C1EQ3');
	</script>
	<!-- end of gtag code -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A knowledge base blog of sorts...">
	<title>{{metaData.data.site_title_name}}</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <script src="/js/responsive_navbar.js"></script> -->
</head>

<body>

	<!-- <div class="titlename">
		<a href="/index.html">{{metaData.data.site_title_name}}</a>
	</div> -->
	<!-- <div id="navbar">
		<div class="topnav" id="myTopnav">
			<a href="http://" target="_blank" rel="noopener noreferrer">a knowledge base blog of sorts...</a>
		</div>
	</div> -->
	<!-- <h2>latest post</h2> -->

	<!-- <h1>{{ title }}</h1> -->
	{{ content }}
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<script src="/js/responsive_navbar.js"></script>
</body>

</html>
